<div class='messageContainer' data-messageId='{{oAuthor.id}}'>
    <div class='message {{className}}'>
        <div class='content'>{{message}}</div>
        <div class='messageDetails'>
            <div class='author'>{{oAuthor.username}}</div>
            <div class='timestamp'>{{timestamp.date}} - {{timestamp.time}}</div>
        </div>
    </div>
</div>